<%= render "header" %>
<h1>This page is under contruction</h1>
<h3>If you want to play around, feel free to create a user</h3>
<h4>if you want to test admin functionality, use email: admin@example.com and password: password</h4>