<%# if logged in do the following %>
<%= render "header" %>


<%# if not logged in, copy background to logged in for home page %>
<div class="login_background_container">
    <%= image_tag("login-background.jpg", :class => "login_background" )%>
</div>


